[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
appdirs = "*"
arrow = "*"
beautifulsoup4 = "*"
disqus = "*"
django-disqus = "*"
django-emoticons = "*"
django-forms-bootstrap = "*"
django-registration = "*"
django-tinymce = "*"
djangorestframework = "*"
funcsigs = "*"
mock = "*"
pbr = "*"
Pillow = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
stripe = "*"
paypal-standard-ipn = "*"




[requires]

python_version = "3.6.5"
